.campos-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
  padding: 30px 0;
  justify-content: center;
}

/* Campos base */
.busca{
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  margin: 0 auto;

   .logo-ancora {
    width: 24px;
    height: 24px;
   
  }

  
  
  .campo-busca {
    flex: 1 1 10%;
    max-width: 100%;
    position: relative;

    
   

    .campo-input{
      border-color: #042743;
      color: #042743;
    
    }
   .campo-input::placeholder {
      color: #042743;
    }
    button{
      color: #042743;
      background-color: transparent;
    }
  }
}

.marca-opcao {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  min-width: 310px;
  
  margin: 0 auto;
  
  .campo-marcas {
    margin: 0 auto;
    width: 34%;
    min-width: 185px;

    .select-input{
      border-color: #042743;
      color:#042743;
    }
  }
  
  .campo-ordem {
    margin: 0 auto;
    width: 34%;
    min-width: 140px;
    .select-input{
      border-color: #042743;
      color: #042743;
      
    }

  }
}


/* Input e select */
input, select {
  width: 100%;
  padding: 0.5rem .75rem ;
  font-size: 1rem;
  background: transparent;
  border: 3px solid #666968;
  border-radius: 6px;
  box-sizing: border-box;
}
option {
  background-color: #042743;
  color:#FFF
  
}

/* Botão toggle */
.toggle-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 18px;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.toggle-btn.aberto {
  transform: translateY(-50%) rotate(90deg);
}


/* Lista de sugestões */
.sugestoes-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 3;
  margin-top: 0.25rem;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 6px;
  background-color: #042743;
  list-style: none;
  padding: 0;
  box-sizing: border-box;

  .sugestao {
    border-bottom: 1px solid #ffffffaf;
    &:hover{
      background-color: #FFF;
    }
    
    &:last-child {
      border-bottom: none;
    }
  
    &.loading {
      text-align: center;
      padding: 0.5rem 1rem;
      font-style: italic;
    }
  
    button {
      width: 100%;
      padding: 0.5rem 1rem;
      border: none;
      text-align: left;
      cursor: pointer;
      font-size: 0.95rem;
      color: #fff;
    }
    &:hover button{
      color:#042743;
    }
  }
}
/* Lista marcas */



/* Mobile: quebra para coluna */
@media (max-width: 500px) {
  .campos-grid {
    flex-direction: column;
  }

  .busca{
    width: 100%;
  }

  .marca-opcao {
    width: 100%;
    .campo-marcas {
      width: 100%;
      
    }
    
    .campo-ordem {
      width: 100%;
    }
  }
}
