* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #fff;
  scrollbar-width: thin;
  scrollbar-color: #ddd transparent;
  font-family:'Montserrat', sans-serif;;
}

body {
  background:#FFF;
  min-height: 100vh;
}

.home.container-fluid {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  width: 100%;

  .row {
    margin: 0;
  }
}